system/system/apex/com.android.vndk.v30.apex
system/system/app/OCRDataProvider/OCRDataProvider.apk
system/system/app/HoneyBoard/HoneyBoard.apk
system/system/product/app/WebViewGoogle/WebViewGoogle.apk
system/system/product/app/Gmail2/Gmail2.apk
system/system/product/priv-app/Messages/Messages.apk
system/system/product/priv-app/Velvet/Velvet.apk
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/SecSettings/SecSettings.apk
